# PDA data science - Data extraction
<div class="alert alert-block alert-info"> 
    Notebook 2: by michael.ferrie@edinburghcollege.ac.uk <br> Edinburgh College, January 2024
</div>

# Introduction

This notebook should help you to work with different types of data, read through the notebook and run the examples. Download the files from Moodle to run the examples on, make sure you have the files in the same directory as this notebook (or add the path).

* Raw text files
* JSON files
* CSV files

## Raw text sources

### Open and close manually
Python has a few ways of getting data from files, `gettysburg.txt` is a simple text file, first check if the file exists in the path, change the path to the location of the file on your computer.

In [1]:
# This will return true if file exists

import os.path
# Change this path here
file1 = "./gettysburg.txt"
os.path.exists(file1)

True

In [ ]:
# open file1.txt for reading text, rt means read text
myfile = open(file1, "rt")

# read the entire file to string
contents = myfile.read()

# close the file
myfile.close()

# print string contents
print(contents)

### With open

Using with open is another method that will automatically close the file once the code is finished, it is important to close the file as soon we are finished with it, we don't want to keep the program in the memory.

In [ ]:
# with open, print, then close the contents
with open (file1, 'rt') as myfile:  
    contents = myfile.read()              
print(contents)

### Line by line

Sometimes we may want to read the file line by line, we can do this using with open and a for loop.

In [ ]:
# read file line by line
with open (file1, 'rt') as myfile:  
    for myline in myfile:              
        print(myline)

### Putting lines in a list

We can read the file line by line and put each line in a list. We can use the read lines function, then loop over the file and append the lines into a list. Each line becomes a new item in the list.

In [ ]:
# first make an empty list
my_lines = []

# then open the file and read the lines
my_file = open(file1)
all_the_lines = my_file.readlines()

# loop over the file appending lines to the list
for i in all_the_lines:
    my_lines.append(i)
print(my_lines)

### Accessing items in the list

Access the items in the list using the index numbers indexing starts at zero.

In [ ]:
# print whole list
print(my_lines[0])

In [ ]:
# print a range
print(my_lines[0:3])

In [ ]:
# print every second line
# the 3rd parameter is called step, setp over every second line
print(my_lines[0:10:2])

In [ ]:
# print last line using negative indexing
print(my_lines[-1])

In [ ]:
# print second last line using negative indexing
print(my_lines[-2])

In [ ]:
# print last 3 lines
print(my_lines[-3:])

### Search the file
We can add a conditional into the for loop and while we loop over the file we can check for a match.

In [ ]:
# string to find, return every line with 'we' in it
my_string = 'we'

for item in my_lines:
    if my_string in item:
        print(my_string)
        print(item)

## JSON files
JSON stands for JavaScript Object Notation, JSON is a lightweight format for storing and transporting data. JSON is often used when data is sent from a server to a web page, JSON is "self-describing" and easy to understand.

Often we can manage large data sets in JSON files, as it allows data to be structured (in fact, this notebook file is actually a JSON file), `presidents.json` contains data on different US presidents. 

First, check that you can see the file by setting the path.

In [ ]:
# this will return true if file exists

import os.path
# Change this path here
file2 = "./presidents.json"
os.path.exists(file2)

### Reading whole JSON files
We need to import the JSON library first, then we can work with the file. To parse the file open it and then use the load function to load and convert the data to a list of dictionaries.

In [ ]:
# import library and open the file
import json

# the load method will convert the file
with open(file2) as f:
    data = json.load(f)
    
    # print the first 3 entries
    print(data[1:3])
    
# close the file
f.close()

### Convert to Dictionary
We can read the file as a dictionary, we should specify a key for the dictionary, we can use the number of the president for they key.

In [ ]:
# dictionary comprehension
new_dict = {item['number']:item for item in data}

# print new keys
print(new_dict.keys())

# use indexing to return values
print(new_dict[16])

## CSV files
### Reading whole CSV files
For this example we will use a file called `world_contries.csv`

In [14]:
# this will return true if file exists
import os.path
# Change this path here
file3 = "./world_countries.csv"
os.path.exists(file3)

True

### Print file line by line
We can loop over each line in the file and print it out, using the basic CSV module and using `with open`.

In [ ]:
# loop over csv file and print each line
import csv
 
# opening the CSV file
with open(file3, mode ='r')as file:
   
  # reading the CSV file
  csvFile = csv.reader(file)
 
# displaying the contents of the CSV file
# this gives a lot of output, so has been commented out
# uncomment to see all lines
  for lines in csvFile:
        print(lines)

### Using Pandas
A more elegant approach to reading files, and most commonly used in data science, is to open the file with the pandas library. However you may have to install pandas on your system first. This can be done with `pip install pandas` once we have pandas installed we can use this to read our file.

* Pandas includes a powerful set of tools for working with data files
* Once you have the datafile printing out, answer the questions in the next section
* By convention we import pandas with the alias `pd`
* Pandas creates a data frame with the data, by convention we use `df` for this
* Pandas will give us a summary of the data
* More documentation is available [here](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html)

In [17]:
# first import and alias pandas
import pandas as pd

# set the path to the file here
df = pd.read_csv (r'./world_countries.csv')
df.head()

  Code  Longitude   Latitude               Country
0   AD  42.546245   1.601554               Andorra
1   AE  23.424076  53.847818  United Arab Emirates
2   AF  33.939110  67.709953           Afghanistan
3   AG  17.060816 -61.796428   Antigua and Barbuda
4   AI  18.220554 -63.068615              Anguilla

In [ ]:
# We can also get pandas to describe and summarise the data using describe
print (df.describe())

### Subset the data to remove a single column
Notice pandas lets you refer to the columns by their name as defined in row 1, which makes the file easy to work with.

* Let's say we wanted to print the values in the ```Code``` column, look at the example of doing that in the next cell

In [ ]:
# Pass the column to a variable then add .sum to sum
my_fun_column = (df['Code'])
print(my_fun_column)

In [ ]:
# Calculate the mean of values in a column
my_fun_column = (df['Longitude']).mean()
print(my_fun_column)

# Questions
* Use pandas to answer the following questions, you'll need the file `realestatetransactions.csv`, check the file path exists first.

In [22]:
# Test you can see the file first by running this, change the path to suit your machine
import os.path
from os import path
path.exists("./realestatetransactions.csv")

True

In [23]:
import pandas as pd

# set the path to the file here
df = pd.read_csv (r'./realestatetransactions.csv')
print (df)

my_fun_column = (df['price']).mean()
my_fun_column2 = (df['zip']).mode()
print(my_fun_column)
print(my_fun_column2)

                  street             city    zip state  beds  baths  sq__ft  \
0           3526 HIGH ST       SACRAMENTO  95838    CA     2      1     836
1            51 OMAHA CT       SACRAMENTO  95823    CA     3      1    1167
2         2796 BRANCH ST       SACRAMENTO  95815    CA     2      1     796
3       2805 JANETTE WAY       SACRAMENTO  95815    CA     2      1     852
4        6001 MCMAHON DR       SACRAMENTO  95824    CA     2      1     797
..                   ...              ...    ...   ...   ...    ...     ...
980   9169 GARLINGTON CT       SACRAMENTO  95829    CA     4      3    2280
981      6932 RUSKUT WAY       SACRAMENTO  95823    CA     3      2    1477
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610    CA     3      2    1216
983     8304 RED FOX WAY        ELK GROVE  95758    CA     4      2    1685
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762    CA     3      2    1362

            type                     sale_date   price   latitude   longitude
0    Residential  Wed May 21 00:00:00 EDT 2008   59222  38.631913 -121.434879
1    Residential  Wed May 21 00:00:00 EDT 2008   68212  38.478902 -121.431028
2    Residential  Wed May 21 00:00:00 EDT 2008   68880  38.618305 -121.443839
3    Residential  Wed May 21 00:00:00 EDT 2008   69307  38.616835 -121.439146
4    Residential  Wed May 21 00:00:00 EDT 2008   81900  38.519470 -121.435768
..           ...                           ...     ...        ...         ...
980  Residential  Thu May 15 00:00:00 EDT 2008  232425  38.457679 -121.359620
981  Residential  Thu May 15 00:00:00 EDT 2008  234000  38.499893 -121.458890
982  Residential  Thu May 15 00:00:00 EDT 2008  235000  38.708824 -121.256803
983  Residential  Thu May 15 00:00:00 EDT 2008  235301  38.417000 -121.397424
984  Residential  Thu May 15 00:00:00 EDT 2008  235738  38.655245 -121.075915

[985 rows x 12 columns]
234144.26395939087
0    95648
Name: zip, dtype: int64

### Calculate the mean price of all real estate properties in the file?

In [27]:
# Your code here
mean_price = df['price'].mean()
print(f"The mean price of all the properties is ${mean_price:,.2f}.")

The mean price of all the properties is $234,144.26.

### Calculate the most popular zip code?

In [29]:
# Your code here
print(f"The most popular zip is {df['zip'].mode().item()}.")

The most popular zip is 95648.

### Calculate the mean price of each type of property i.e. condo, residential etc?

In [34]:
# Your code here
df.groupby('type').price.agg('mean').to_frame('mean price').style.format('${:,.2f}')

### How many square feet worth of real estate are listed in the file in total?

In [35]:
# Your code here
print(f"The total area of the listed properties is {df['sq__ft'].sum()} sq ft.")

The total area of the listed properties is 1295193 sq ft.

### There are 2 cities that have only 2 properties for sale, write the code to show these?

In [40]:
# Your code here
df.groupby('city').size().to_frame('sales_count').query('sales_count == 2')

           sales_count
city
EL DORADO            2
LOOMIS               2

### How many bedrooms does the average property have?

In [42]:
# Your code here
print(f"The listed properties have {df['beds'].mean():.2f} bedrooms on average.")

The listed properties have 2.91 bedrooms on average.